<div #top></div>
<div
  class="stickyHeaderContainer"
  fxLayout="column"
  fxLayoutAlign="end end"
  appStickySection
  stickySectionTopMargin="10px"
>
  <div class="buttonsContainer" fxLayout="row wrap" fxLayoutAlign="end center">
    <button
      mat-raised-button
      color="primary"
      (click)="scrollToElement(top)"
    >
      up
    </button>
    <button mat-raised-button color="primary" (click)="clear()">clear</button>
    <button mat-raised-button color="primary" (click)="randomize()">
      randomize
    </button>
    <button mat-raised-button color="primary" (click)="checkAnswers()">
      check
    </button>
  </div>
  <div
    class="answersInfoContainer"
    *ngIf="showAnswers"
    fxLayout="row"
    fxLayoutAlign="end center"
  >
    <mat-chip-list>
      <mat-chip>
        Correct answers: {{ correctAnswers }} / {{ allQuestionsNumber }}
      </mat-chip>
    </mat-chip-list>
  </div>
</div>
<div class="questionList" infinite-scroll (scrolled)="displayNextQuestions()">
  <ng-container *ngFor="let question of displayedQuestions">
    <mat-label>{{ question.text }}</mat-label>
    <mat-radio-group aria-label="Select an option" class="radio-group">
      <ng-container *ngFor="let answer of question.answers">
        <div fxLayout="row">
          <mat-radio-button [value]="answer" (change)="answerChecked()">
            <mat-label
              [ngClass]="{
                correctAnswer: answer.isCorrect && showAnswers,
                incorrectAnswer: !answer.isCorrect && showAnswers
              }"
              >{{ answer.text }}</mat-label
            >
          </mat-radio-button>
        </div>
      </ng-container>
    </mat-radio-group>
    <mat-divider></mat-divider>
  </ng-container>
</div>
