<mat-action-list>
  <ng-container *ngFor="let set of questionSets$ | async; let lastItem = last">
    <button mat-list-item (click)="selectSet(set)">{{ set.title }}</button>
    <mat-divider *ngIf="lastItem"></mat-divider>
  </ng-container>
  <ng-container *ngFor="let question of selectedSetQuestions$ | async">
    <mat-label>{{ question.text }}</mat-label>
    <mat-radio-group aria-label="Select an option" class="radio-group">
      <ng-container *ngFor="let answer of question.answers">
        <mat-radio-button value="0">{{
          answer.text
        }}</mat-radio-button>
      </ng-container>
    </mat-radio-group>
    <mat-divider></mat-divider>
  </ng-container>
</mat-action-list>
