mat-radio-group {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  mat-radio-button {
    margin: 0.5rem 0;
  }
}

.stickyHeaderContainer {
  .buttonsContainer {
    width: 100%;
    button {
      margin: 0.5rem 0.5rem 0.5rem 0;
    }
  }
  .answersInfoContainer {
    margin: 0.5rem 0;
    mat-chip {
      margin: 0 0.5rem 0 0;
    }
  }
}

.correctAnswer {
  color: green;
}

.incorrectAnswer {
  color: red;
}
