mat-radio-group {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  mat-radio-button {
    margin: 0.5rem 0;
  }
}

.stickyHeaderContainer {
  .buttonsContainer {
    width: 100%;
    button {
      margin: 0.5rem 0.5rem 0.5rem 0;
    }
  }
  .answersInfoContainer {
    margin: 0.5rem 0;
    mat-chip {
      margin: 0 0.5rem 0 0;
    }
  }
}

.correctAnswer {
  color: green;
}

.incorrectAnswer {
  color: red;
}

.floatingButton {
  position: fixed;
  width: 3rem;
  height: 3rem;
  bottom: 1rem;
  right: 1rem;
  border-radius: 2rem;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  mat-icon {
    font-size: 2rem;
    height: auto;
    width: auto;
  }
}

.upButton {
  @extend .floatingButton;
}

.downButton {
  @extend .floatingButton;
  right: 5rem;
}
