<ng-container *ngIf="(quizList$ | async) != null; else loading">
  <ng-container *ngFor="let quiz of quizList$ | async">
    <mat-action-list>
      <div mat-list-item fxLayout="row">
        <p>{{ quiz.title }}</p>
        <button mat-button (click)="editQuiz(quiz)">edit</button>
        <button mat-button (click)="deleteQuiz(quiz)">delete</button>
      </div>
      <mat-divider></mat-divider>
    </mat-action-list>
  </ng-container>
</ng-container>
<ng-template #loading>
  <mat-progress-bar mode="indeterminate"> </mat-progress-bar>
</ng-template>
