<form [formGroup]="quizForm" (ngSubmit)="onSubmit()" fxLayout="column">
  <h2 mat-dialog-title>CREATE QUIZ</h2>
  <mat-dialog-content>
    <mat-error *ngIf="invalid">
      {{ error ? error : "Provided data is invalid" }}
    </mat-error>
    <mat-form-field>
      <mat-label>Quiz title</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>
    <mat-divider></mat-divider>
    <div formArrayName="questions">
      <div
        *ngFor="
          let question of questionsFormArray?.controls;
          let questionindex = index
        "
      >
        <div [formGroupName]="questionindex">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1rem">
            <mat-form-field>
              <mat-label>Question text</mat-label>
              <textarea matInput formControlName="text"></textarea>
            </mat-form-field>
            <button
              mat-icon-button
              type="button"
              color="secondary"
              (click)="removeQuestion(questionindex)"
            >
              <mat-icon>remove</mat-icon>
            </button>
          </div>
          <div formArrayName="answers">
            <div
              *ngFor="
                let answer of getQuestionAnswers(questionindex)?.controls;
                let answerindex = index
              "
            >
              <div
                [formGroupName]="answerindex"
                fxLayout="row"
                fxLayoutAlign="start center"
                fxLayoutGap="1rem"
              >
                <button
                  mat-icon-button
                  type="button"
                  color="secondary"
                  (click)="removeAnswer(questionindex, answerindex)"
                >
                  <mat-icon>remove</mat-icon>
                </button>
                <mat-checkbox formControlName="isCorrect"> </mat-checkbox>
                <mat-form-field>
                  <mat-label>Answer text</mat-label>
                  <textarea matInput formControlName="text"></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>
          <button
            mat-icon-button
            type="button"
            color="secondary"
            (click)="addAnswer(questionindex)"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <mat-divider></mat-divider>
      </div>
    </div>
    <button
      mat-raised-button
      type="button"
      color="secondary"
      (click)="addQuestion()"
    >
      add question
    </button>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit">
      {{ quizId ? "UPDATE" : "CREATE" }}
    </button>
    <button mat-stroked-button color="secondary" (click)="close()" type="button">
      CANCEL
    </button>
  </mat-dialog-actions>
</form>
