<button mat-button (click)="clear()">CLEAR</button>
<form [formGroup]="quizForm" (ngSubmit)="onSubmit()" fxLayout="column">
  <mat-error *ngIf="invalid">
    {{ error ? error : "Provided data is invalid" }}
  </mat-error>
  <mat-form-field>
    <mat-label>Quiz title</mat-label>
    <input matInput formControlName="title" />
  </mat-form-field>
  <mat-divider></mat-divider>
  <div formArrayName="questions">
    <div
      *ngFor="
        let question of questionsFormArray?.controls;
        let questionindex = index
      "
    >
      <div [formGroupName]="questionindex">
        <mat-form-field>
          <mat-label>Question text</mat-label>
          <input matInput formControlName="text" />
        </mat-form-field>
        <div formArrayName="answers">
          <div
            *ngFor="
              let answer of getQuestionAnswers(questionindex)?.controls;
              let answerindex = index
            "
          >
            <div [formGroupName]="answerindex">
              <mat-form-field>
                <mat-label>Answer text</mat-label>
                <input matInput formControlName="text" />
              </mat-form-field>
              <mat-checkbox formControlName="isCorrect">
                Is correct
              </mat-checkbox>
              <button
                mat-raised-button
                type="button"
                color="secondary"
                (click)="removeAnswer(questionindex, answerindex)"
              >
                Remove answer
              </button>
            </div>
          </div>
        </div>
        <button
          mat-raised-button
          type="button"
          color="secondary"
          (click)="addAnswer(questionindex)"
        >
          Add answer
        </button>
        <button
          mat-raised-button
          type="button"
          color="secondary"
          (click)="removeQuestion(questionindex)"
        >
          Remove question
        </button>
      </div>
    </div>
  </div>
  <button
    mat-raised-button
    type="button"
    color="secondary"
    (click)="addQuestion()"
  >
    Add question
  </button>
  <mat-divider></mat-divider>
  <button mat-raised-button color="primary" type="submit">
    {{ quizId ? "UPDATE" : "CREATE" }}
  </button>
</form>
