@import "./theme.scss";

html {
  margin: 0;
}
body {
  margin: 0;
  font-family: "Roboto";
}

@for $index from 1 through 6 {
  h#{$index} {
    margin: 0 !important;
  }
}

mat-divider {
  margin: 0.5rem 0 !important;
}

// bootstrap container
.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}
@media only screen and (min-width: 601px) {
  .container {
    width: 85%;
  }
}
@media only screen and (min-width: 993px) {
  .container {
    width: 70%;
  }
}
//

a {
  background-color: transparent;
  color: $dark-text;
  padding: 1em 1.5em;
  text-decoration: none;
}

a:hover {
  opacity: 0.2;
}

a:active {
  color: $dark-focused;
}

a:visited {
  color: $dark-accent-text;
}

a:hover {
  cursor: pointer;
}

i.fa {
  padding: 0 0.5rem;
}
mat-icon {
  padding: 0 0.5rem;
}
.mat-checkbox-layout {
  white-space: normal !important;
}

.mat-radio-label {
  white-space: normal !important;
}
